{% extends "base.html" %}
{% block title %}Pincode-wise data{% endblock title %}

{% load static %}
{% block content %}

    <div class="title mx-3">
        <h1>Pincode-wise data</h1>
        <hr>
    </div>
    <div class="data_view animate-on-load">
        <div class="table px-3 table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Crop Type</th>
                        <th>Crop Area</th>
                        <th>Crop Production</th>
                        <th>Season</th>
                        <th>Pincode</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.Crop_Type }}</td>
                        <td>{{ item.CROP_AREA }}</td>
                        <td>{{ item.CROP_PRODUCTION }}</td>
                        <td>{{ item.Season }}</td>
                        <td>{{ item.Pincode }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if page_obj.has_previous or page_obj.has_next %}

            <div class="pagination justify-content-center my-2">

                {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary item-number" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <span class="item-number current-page-real mx-3 my-1 ">{{ i }}</span>
                    {% else %}
                        {% if i == 1 or i == totalpages or i in page_obj.paginator.page_range|slice:":3" or i in page_obj.paginator.page_range|slice:"-3:" %}
                            <a class="item-number current-page mx-3 my-1" href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a class="btn btn-outline-primary item-number" href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </div>

            {% endif %}
        </div>
        <hr>
        <div class="map">
            <div class="ResizableMap">
                <div class="Fullmap ">
                    {{ map_html | safe }}
                </div>
            </div>
            <div class="mapDetails" style="width: 400px;margin-left: 0px;height: 160px;overflow:scroll;scrollbar-width: none;-ms-overflow-style: none; ">
                Map Info
            </div>
        </div>
        <hr>
    </div>
    
    <script>
        const resizableMap = document.querySelector('.ResizableMap');
        const mapDetails = document.querySelector('.mapDetails');
        function saveSizeToLocalStorage() {
            
            localStorage.setItem('resizableMapWidth', resizableMap.offsetWidth);
            localStorage.setItem('resizableMapHeight', resizableMap.offsetHeight);
            console.log('Elements are saved');
        }
    
        function setInitialSizeFromLocalStorage() {
            const width = localStorage.getItem('resizableMapWidth');
            const height = localStorage.getItem('resizableMapHeight');
            if (width && height) {
                resizableMap.style.width = width + 'px';
                resizableMap.style.height = height + 'px';
                mapDetails.style.width = width-10 + 'px';
            }
        }
        new ResizeObserver(() => saveSizeToLocalStorage()).observe(resizableMap);

        setInitialSizeFromLocalStorage();
    </script>
    {% endblock content %}


    <!-- JS SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

</body>

</html>